.background
{
	background-image: url("https://www.teahub.io/photos/full/21-212413_hd-wallpaper-background-4k.jpg");
	background-size: cover;
	background-position:center ;
}

	.div1 , .div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#Player1, #Player2
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
h1{
	font-family: 'Inspiration', cursive;
	font-size: 100px;
	font-weight: bold;
	color: azure;
}
#playerquestion,#playeranswer{
font-size: 50px;
color: white;
}

#p1,#p2 {
	color: whitesmoke;
display :inline-block;
margin-left: 20px;
}


#p1score,#p2score{
 color: whitesmoke;

}


